<div id="<%= dom_id episode %>">
  <p>
    <strong>Podcast:</strong>
    <%= episode.podcast_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= episode.publication_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= episode.link %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= episode.duration %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= episode.image_url %>
  </p>

</div>
