<div id="<%= dom_id podcast %>">
  <p>
    <strong>Title:</strong>
    <%= podcast.title %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= podcast.language %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= podcast.publication_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= podcast.description %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= podcast.creator %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= podcast.link %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= podcast.image_url %>
  </p>

</div>
